# Visual Studio
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.VC.db
*.VC.opendb

# Build / bin
x64/
*/x64/
Debug/
*/Debug/
Release/
*/Release/
build/
bin/
obj/

# Intermediate / VS caches
*.ipch
*.pch
*.idb
*.log
*.tlog
*.ilk
*.sdf
*.pdb
*.opendb

# Compiled object files and libraries
*.obj
*.o
*.lib
*.dll
*.exe

# Package / NuGet
*.nupkg
.packages

# Others
*.cache
*.vsix
